spring:
  application:
    name: transaction-risk-engine

  datasource:
    url: jdbc:postgresql://localhost:5432/riskdb
    username: risk
    password: risk
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: transaction-risk-engine
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.angelos.transaction_risk_engine.messaging.model.TransactionReceivedEvent

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
